<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <script src="js/script.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- jQuery -->
        <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
  
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> 
    </script> 
  
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> 
    </script> 
  
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> 
    </script>  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
        <link href="https://fonts.googleapis.com/css2?family=Aladin&display=swap" rel="stylesheet">
        <style>
            .navcolor{
                background: linear-gradient(90deg, #256BAC 5.13%, #00A9FC 77.11%);
            }
            .nav-link{
                font-size: x-large;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light navcolor">
            <a class="navbar-brand" href="#"><img src="{{url_for('static', filename='img/Poornima_UniversityLogo.png')}}" class="mainimg" width="100px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarColor03">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#"><center>Home</center>
                  </a>
                </li>                
                <li class="nav-item dropdown">
                  <center>
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">User</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="add_faculty">Faculty</a>
                      <a class="dropdown-item" href="add_student">Student</a>
                      <a class="dropdown-item" href="add_warden">Warden</a>
                      <a class="dropdown-item" href="add_accounts">Accounts</a>
                      <a class="dropdown-item" href="add_placement">Placement</a>
                      <a class="dropdown-item" href="add_transport">Transport</a>
                      <a class="dropdown-item" href="add_library">Librarian</a>
                      <a class="dropdown-item" href="view_users">View Users</a>
                    </div>
                    </center>
                  </li>
                <li class="nav-item dropdown">
                  <center>
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Academics</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="Attendance">Attendance</a>
                      <a class="dropdown-item" href="Accounts">Fees</a>
                      <a class="dropdown-item" href="/courseadd">Course Details</a>
                      <a class="dropdown-item" href="Generate_tt">Time Table</a>
                      <a class="dropdown-item" href="Tt_set">Time Table Setting</a>
                    </div>
                  </center>
                  </li>
                    <li class="nav-item dropdown">
                      <center>
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Library</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="/addbook">Add Book</a>
                          <a class="dropdown-item" href="/viewbook">View Book</a>
                          <a class="dropdown-item" href="/stockaddbook">Add Stock</a>
                          <a class="dropdown-item" href="/stockviewbook">View Stock</a>
                          <a class="dropdown-item" href="/addauthor">Add Author</a>
                          <a class="dropdown-item" href="/addpublisher">Add Publisher</a>
                        </div>
                      </center>
                  </li>    
                    <li class="nav-item dropdown">
                      <center>
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Exam</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="/AResult">Add Result</a>
                          <a class="dropdown-item" href="/VResult">View Result</a>
                        </div>
                      </center>
                      </li>
                  
                    <li class="nav-item dropdown">
                      <center>  
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Transport</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Add Bus</a>
                          <a class="dropdown-item" href="#">Add Route</a>
                          <a class="dropdown-item" href="#">Allote Bus</a>
                        </div>
                      </li>
                    </center>
                    
                    <li class="nav-item dropdown">
                      <center>  
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Hostel</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="/addhroom">Add Room</a>
                          <a class="dropdown-item" href="/addhmess">Mess</a>
                          <a class="dropdown-item" href="/viewmess">View Mess</a>
                          <a class="dropdown-item" href="/alloteroom">Allote Room</a>
                        </div>
                      </li>
                    </center>
                    
                    <li class="nav-item dropdown">
                      <center>
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Placement</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="/Addcompany">Add Company</a>
                          <a class="dropdown-item" href="/adddrive">Add Drive</a>
                          <a class="dropdown-item" href="/eligible_stu">Eligible Student</a>
                        </div>
                      </center>
                      </li>
                    <li class="nav-item dropdown">
                      <center>
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Notice</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="/tnotice">Add Notice</a>
                          <a class="dropdown-item" href="#">Edit Notice</a>
                          <a class="dropdown-item" href="/notice">View Notice</a>
                        </div>
                      </center>
                      </li>
              </ul>
              
            <ul class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img src="{{url_for('static', filename='img/Poornima_UniversityLogo.png')}}" class="mainim" width="80px">
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/logout">Logout</a>
              </div>
            </ul>
          </nav> 
          
          <marquee>IS-2027-2031, Ramchandrapura, P.O. Vidhani Vatika, Sitapura Extension, Jaipur, Rajasthan (India) 303905.</marquee>
          <iframe  style="width: -webkit-fill-available; height: -webkit-fill-available;" src="{{temp}}">
          </iframe>
          <footer class="navcolor" style="width: -webkit-fill-available; height: 10%;"></footer>
        </div>   
    </body>
</html>