<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <script src="js/script.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- jQuery -->
        <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
  
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> 
    </script> 
  
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> 
    </script> 
  
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> 
    </script>  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
        <link href="https://fonts.googleapis.com/css2?family=Aladin&display=swap" rel="stylesheet">
        <style>
            .navcolor{
                background: linear-gradient(90deg, #256BAC 5.13%, #00A9FC 77.11%);
            }
            .nav-link{
                font-size: x-large;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light navcolor">
            <a class="navbar-brand" href="#"><img src="img/Poornima_UniversityLogo.png" class="mainimg" width="100px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarColor03">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#"><center>Home</center>
                  </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/notice"><center>Notice</center>
                  </a>
                </li>
  
                <li class="nav-item">
                  <a class="nav-link" href="#"><center>Add Company</center></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><center>Add Drive</center></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><center>Check Response</center></a>
                  </li>
                  
                <li class="nav-item">
                    <a class="nav-link" href="#"><center>Eligible Student</center></a>
                  </li>
              </ul>
            <center>
            <a class="navbar-brand" href="#"><img src="img/Poornima_UniversityLogo.png" class="mainimg" width="100px"></a>
          </center>
          </nav> 
          
        </div>   
    </body>
</html>