<html>
  <head>
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/bootstrap.css">
      <script src="js/script.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <!-- jQuery -->
      <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 

  <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> 
  </script> 

  <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> 
  </script> 

  <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> 
  </script>  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      
      <link href="https://fonts.googleapis.com/css2?family=Aladin&display=swap" rel="stylesheet">
      <style>
          .navcolor{
              background: linear-gradient(90deg, #1575cf 5.13%, #00A9FC 77.11%);
          }
          .nav-link{
              font-size: x-large;
          }
          
      </style>
  </head>
  <body>
   <div class="row" style="margin: 15px;">
              <div class="col-lg-4" >
                <div class="bs-component">
                  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <img src="img/icon/btn/profilel.png"/>
                  </div>
                  
                  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <img src="img/icon/btn/attendanced.png"/>
                  </div>
                  
                  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <img src="img/icon/btn/assignmentl.png"/>
                  </div>
                  
                  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <img src="img/icon/btn/resultd.png"/>
                  </div>
                  </div>
              </div><div class="col-lg-4">
                <div class="bs-component">
                  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <img src="img/icon/btn/timetablel.png"/>
                  </div>
                  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <img src="img/icon/btn/libraryd.png"/>
                  </div>
                  
                  
                  
                  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <img src="img/icon/btn/accountsl.png"/>
                  </div>
                  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <img src="img/icon/btn/placementd.png"/>
                  </div>
                  
                </div>
              </div>
              <div class="col-lg-4">
                <div class="bs-component">
                  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <img src="img/icon/btn/notice1l.png"/>
                  </div>
                  
                  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <img src="img/icon/btn/transportd.png"/>
                  </div>
                  
                  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <img src="img/icon/btn/hostell.png"/>
                  </div>
                  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <img src="img/icon/btn/medicaald.png"/>
                  </div>
                  </div>
              </div>
    </div>
    </body>
    </html>