<html>
  <head>
  <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/bootstrap.css">
      <script src="js/script.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <!-- jQuery -->
      <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 

  <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> 
  </script> 

  <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> 
  </script> 

  <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> 
  </script>  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      
      <link href="https://fonts.googleapis.com/css2?family=Aladin&display=swap" rel="stylesheet">
      <style>
          .navcolor{
              background: linear-gradient(90deg, #1575cf 5.13%, #00A9FC 77.11%);
          }
          .nav-link{
              font-size: x-large;
          }
          .loader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background-color: #ffffffcf;
        }
        .loader img{
            position: relative;
            margin-left: 35%;
            margin-top: 7.5%;
        }
        .table td, .table th {
          width: 15%;
          border: 0px solid black;
        }
        

      </style>
  </head>
  <body>      
<div class="loader" ><img width="350px" height="350px" src="{{url_for('static', filename='img/Poornima_UniversityLogo.png')}}"></div>
<div>
  <center>
<form action="/addsturole" method="POST" enctype="multipart/form-data">
    <table class="table" style="border-style: none; " >
      <tbody>
        <tr>
          <td></td>
          <th scope="col">First Name</th>
          <td scope="col"><input type="text" class="form-control" name="f_n" id="exampleInputPassword1" placeholder="First Name" ></td>
          <th></th>
        </tr>
        
        <tr>
            <td></td>
            <th scope="col">Last Name</th>
            <td scope="col"><input type="text" class="form-control" name="l_n" id="exampleInputPassword1" placeholder="Last Name" ></td>
            <th></th>
          </tr>

          <tr>
            <td></td>
            <th scope="col">Date Of Birth</th>
            <td scope="col"><input type="date" class="form-control" name="date" id="exampleInputPassword1" placeholder="Last Name" ></td>
            <th></th>
          </tr>
          
          <tr>
            <td></td>
            <th scope="col">Father Name</th>
            <td scope="col"><input type="text" class="form-control" name="fatn" id="exampleInputPassword1" placeholder="Father Name" ></td>
            <th></th>
          </tr>
          <tr>
            <td></td>
            <th scope="col">Father Occupation</th>
            <td scope="col"><input type="text" class="form-control" name="focc" id="exampleInputPassword1" placeholder="Father Occupation" ></td>
            <th></th>
          </tr>
          <tr>
            <td></td>
            <th scope="col">Father Number</th>
            <td scope="col"><input type="text" class="form-control" name="fatnum" id="exampleInputPassword1" placeholder="Father Number" ></td>
            <th></th>
          </tr>
          <tr>
              
          <tr>
            <td></td>
            <th scope="col">Mother Name</th>
            <td scope="col"><input type="text" class="form-control" name="mname" id="exampleInputPassword1" placeholder="Mother Name" ></td>
            <th></th>
          </tr>
          
          <tr>
            <td></td>
            <th scope="col">Mother Occupation</th>
            <td scope="col"><input type="text" class="form-control" name="mocc" id="exampleInputPassword1" placeholder="Mother Occupation" ></td>
            <th></th>
          </tr>
          <tr>
            <td></td>
            <th scope="col">Mother Number</th>
            <td scope="col"><input type="text" class="form-control" name="mnum" id="exampleInputPassword1" placeholder="Mother Number" ></td>
            <th></th>
          </tr>
          <tr>
            <td></td>
            <th scope="col">Address</th>
            <td scope="col"><textarea class="form-control" name="address" id="exampleInputPassword1" placeholder="Address" ></textarea></td>
            <th></th>
          </tr>
          <tr>
            <td></td>
            <th scope="col">City</th>
            <td scope="col"><input type="text" class="form-control" name="city" id="exampleInputPassword1" placeholder="City" ></td>
            <th></th>
          </tr>

          <tr>
            <td></td>
            <th scope="col">State</th>
            <td scope="col"><input type="text" class="form-control" name="state" id="exampleInputPassword1" placeholder="State" ></td>
            <th></th>
          </tr>
          
          <tr>
            <td></td>
            <th scope="col">Mobile Number</th>
            <td scope="col"><input type="number" class="form-control" name="phno" id="exampleInputPassword1" placeholder="Mobile Number" ></td>
            <th></th>
          </tr>
          <tr>
            <td></td>
            <th scope="col">Gender</th>
            <td>
              <input type="radio" id="customRadio1" name="customRadio" value="Male">
              Male &nbsp</input>
              <input type="radio" id="customRadio2" name="customRadio" value="Female">Female &nbsp</input>
            </td>
              <th></th>
          </tr>
          <tr>
            <td></td>
            <th scope="col">Aadhar Number</th>
            <td scope="col"><input type="number" class="form-control" name="aano" id="exampleInputPassword1" placeholder="Aadhar Number" ></td>
            <th></th>
          </tr>          
          <tr>
            <td></td>
            <th scope="col">Course</th>
            <td scope="col">
            <select class="form-control" name="course" id="exampleInputPassword1" placeholder="Mobile Number" >
            {%for i in range(cblen)%}
              <option value={{cbb[i][1]}}>{{cbb[i][1]}}</option>
              {%endfor%}
            </select>
            </td>
            <th></th>
          </tr>      
              
          <tr>
            <td></td>
            <th scope="col">Branch</th>
            <td scope="col">
            <select class="form-control" name="branch" id="exampleInputPassword1" placeholder="bn" >
            {%for i in range(cblen)%}
              <option value={{cbb[i][0]}}>{{cbb[i][1]+' in '+cbb[i][0]}}</option>
              {%endfor%}
            </select>
            </td>
            <th></th>
          </tr>          
          <tr>
            <td></td>
            <th scope="col">Blood Group</th>
            <td scope="col"><select class="form-control" name="bg" id="exampleInputPassword1" placeholder="bg" >
              <option value="ap">A+</option>
              <option value="an">A-</option>  
              <option value="bp">B+</option>  
              <option value="bn">B-</option>  
              <option value="abp">AB+</option>
              <option value="abn">AB-</option>  
              <option value="op">O+</option>  
              <option value="on">O-</option>  
              </select>
              </td>
              <th></th>
          </tr>
          
          <tr>
            <td></td>
            <th scope="col">10<sup>th</sup> Marks</th>
            <td scope="col"><input type="text" class="form-control" name="ten" id="exampleInputPassword1" placeholder="10 Marks" ></td>
            <th></th>
          </tr>
          
          <tr>
            <td></td>
            <th scope="col">10<sup>th</sup> Board</th>
            <td scope="col"><input type="text" class="form-control" name="tenb" id="exampleInputPassword1" placeholder="10 Board" ></td>
            <th></th>
          </tr>
          <tr>
            <td></td>
            <th scope="col">12<sup>th</sup> Marks</th>
            <td scope="col"><input type="text" class="form-control" name="tw" id="exampleInputPassword1" placeholder="12 Marks" ></td>
            <th></th>
          </tr>
          
          <tr>
            <td></td>
            <th scope="col">12<sup>th</sup> Board</th>
            <td scope="col"><input type="text" class="form-control" name="twb" id="exampleInputPassword1" placeholder="12 Board" ></td>
            <th></th>
          </tr>
          
          <tr>
            <td></td>
            <th scope="col">Diploma</th>
            <td scope="col"><input type="text" class="form-control" name="diploma" id="exampleInputPassword1" placeholder="Diploma" ></td>
            <th></th>
          </tr>
          
          <tr>
            <td></td>
            <th scope="col">Diploma University/College</th>
            <td scope="col"><input type="text" class="form-control" name="du" id="exampleInputPassword1" placeholder="Diploma University/College" ></td>
            <th></th>
          </tr>
           
          <tr>
            <td></td>
            <th scope="col">Bachelor Degree</th>
            <td scope="col"><input type="text" class="form-control" name="Bachelor" id="exampleInputPassword1" placeholder="Bachelor" ></td>
            <th></th>
          </tr>
          
          <tr>
            <td></td>
            <th scope="col">Bachelor University/College</th>
            <td scope="col"><input type="text" class="form-control" name="bu" id="exampleInputPassword1" placeholder="Bachelor University/College" ></td>
            <th></th>
          </tr>
          <tr>
            <td></td>
            <th scope="col">Year</th>
            <td scope="col"><input type="text" class="form-control" name="year" id="exampleInputPassword1" placeholder="Bachelor University/College" ></td>
            <th></th>
          </tr>
          <input type="hidden" value="Student" name="role">
          
        <tr>
          <td></td>
          <th scope="row"></th>
          <td><input type="submit" class="btn btn-primary btn-lg"></td>
          <th></th>
        </tr>
      </tbody>
    </table>
    </form>
    </center>
<script>
    window.onload = function() 
    {
        //display loader on page load 
        $('.loader').fadeOut();
    }

  $('#video_id').on('loadstart', function (event) {
    $(this).addClass('loading');
  });
</script>
</body>
</html>